.text-left{text-align: left!important} 
.text-right{text-align: right!important} 
.just-left{justify-content: left!important} 
section{margin-right: -35%;margin-left:-35%;} 
.flex-center{display:flex;align-items:center;justify-content: center;} 
.flex-bottom{display:flex;align-items:flex-end;}
.green{color: #338161!important;}
.l-0{line-height: 0!important} 
.m-auto{margin:0 auto!important;text-align: center;}
.m-lr-15{margin:0px 15px;} 
.m-15{margin:15px 0;} 
.m-30{margin:30px 0;} 
.m-50{margin:50px 0;} 
.m-80{margin:80px 0;} 
.m-100{margin:100px 0;} 
.m-b30{margin-bottom:30px;} 
.m-0{margin:0px!important;} 
.m-right{margin-right:30px;} 
.m-top-100{margin-top:100px;}
.m-top-90{margin-top:90px;} 
.m-top-80{margin-top:80px;} 
.m-top-50{margin-top:50px;} 
.m-top-30{margin-top:30px!important;} 
.p-0{padding:0px!important;}
.p-10{padding:10px 0px!important;}  
.p-20{padding:20px 0px!important;}
.p-30{padding:30px 0px!important;} 
.p-50{padding:50px 0px!important;} 
.p-100{padding:100px 0px!important;}
.padding-100{padding:100px!important;} 
.padding-50{padding:50px!important;}
.padding-30{padding:30px!important;} 
.padding-15{padding:15px!important;} 
.p-148{padding:148px 0px!important;} 
.p-150{padding:150px 0px!important;} 
.p-170{padding:170px 0px!important;} 
.w-100{font-weight:100!important;} 
.w-300{font-weight:300!important;} 
.w-400{font-weight:400!important;} 
.w-600{font-weight:600!important;} 
.w-700{font-weight:700!important;}
.right{float:right;}
.left{float:left;} 
.list-style-none{list-style-type: none;margin: 0;padding: 0;} 
.size30{font-size:30px;} 
.size35{font-size:35px;} 
.size50{font-size:50px;} 
.size40{font-size:40px;} 
.size25{font-size:25px!important;}
.size20{font-size:20px!important;} 
.size18{font-size:18px!important;} 
.size16{font-size:16px!important;} 
.size11{font-size:11px!important;margin:0px 15px}
.size9{font-size:9px!important;} 
.fx-hover{transition: all 0.6s ease;} 
.fx-hover:hover{transition: all 0.6s ease; transform: scale(1.2);}
.fx-hoverr{transition: all 0.6s ease;} 
.fx-hoverr:hover{transition: all 0.6s ease; transform: scale(1.1);}  
.fx-hover2{transition: all 0.4s ease;} 
.fx-hover2:hover{transition: all 0.4s ease; transform: scale(1.2);} 
strong {font-weight: 500;}
.white{color:#fff!important};
.size10{font-size:10px!important;}
#footer:after {display:none;}
.m-left20{margin-left:20px!important}
.white{color:#fff!important;}
.white p{color:#fff!important;}
.title-pink{color:#c88a86}
.class-40width{width:40%!important;margin:0 auto!important;}
.title-page-pink{color:#894E46!important;}

/** Home Page **/
/*.banner-home{background-image: url('./img/lacos-e-tracos-banner-1.jpg');}*/
.history .description{max-width:50%;}
.history .title-page{max-width:49%;}
.block-pink{background-color: #c88a86}
.block-catalog{background-image: url('img/lacos-e-tracos-banner-chamada.jpg')}
.bg-icone{background-color:#F5EBE9!important;}
.text-varejo .text {width:80%;margin:0 auto;}
.col-md-4.bg-icone-2 {margin-right:-15px!important; padding: 100px 50px;display: flex;align-items: center;justify-content: center; background-color:#7B4F46;}

/* Onde Encontrar*/
.dropdown-toggle:after{display:none!important;}

@media(max-width:767px){
  .history .description{max-width:100%;}
  .history .title-page{max-width:100%;text-align: left;}
}


.responsive{width:100%!important;height:auto;}

/** Header / Footer **/
.bg-grey{background-color:#f1f1f1;}
.bg-black{background-color: #222;}
footer{margin-top:100px;}
footer .bloco-news {width: 55%;margin: 0 auto;}
footer .bloco-news h5{width: 70%;}
footer .formulario input{margin:5px 0px;border:none;border-bottom: 1px solid #e4e4e4!important;background-color: transparent!important;}
footer .formulario input[type="submit"]{border: none!important;background-color: #e4e4e4!important}
.enviar{padding:10px 20px;border-radius: 5px;margin-top:20px!important;}
.col-md-7.bg-black.p50px {padding: 50px;}
.menu-footer01 li{margin:25px 0px}
.menu-footer02 li{margin:25px 0px}
.font-menu-footer{color: #b2b2b2;}

header {width: 80%;margin: 0 auto;}
header .btn:not(:disabled):not(.disabled) {float: right;}
header a.btn.btn-primary.collapsed {float: right;}
header .btn{background-color:#7b4f46!important;border: #7b4f46!important;padding: 15px;margin-top: -20px;}
header div#multiCollapseExample1 {z-index: 1111;position: absolute;}
.fixed-whatsapp{z-index: 999;position: fixed;top: 30%;left: 92%;}
header .card{background-color:#7b4f46;color:#fff!important;margin-top: 6%!important; }
header .btn-primary.focus, .btn-primary:focus {box-shadow: none!important;}
header .btn{border-radius: 0px!important;}
header .card{border-radius: 0px!important;}

header .dropdown-item.active, .dropdown-item:active {background-color: #dc8b86;}

.botao-banner .botao{width: 250px;background-color: #000;color: #b2b2b2;padding: 15px;text-align: center;}
span.chamada-link img{padding: 15px 20px;}
.botao-banner.d-flex {z-index: 11;margin-top: -10%;width: 90%!important;margin-left: 8%;margin-bottom: 50px;}
.botao-banner.d-flex a {background-color: #fff;}
.botao-banner.d-flex a:hover {background-color: #f1f1f1;}
header .dropdown-item{color: #fff;}


/** Página Quem somos **/
.banner-crop{width:80%!important;margin: 0 auto!important;}
.banner-crop-full{width:90%!important;margin: 0 auto!important;}
.quem-somos-description{width:80%;margin:0 auto;}
.like-me img {margin-right: 15px;}


/** Onde Encontrar **/
.row.antecipe {background-color: #7b4f46;}
.pink-btn-antecipe {
  background-color: #c88a86;
  padding: 0px;
  margin-left: -15px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
}
.place-card-large div {
  border: solid;
  display: none!important;
}
.pink-btn-antecipe a {margin-top: 12px;color: #fff;}
.pink-btn-antecipe a:hover {color: #fff;}
.row.bloco-antecipe {z-index: 111;position: relative;margin-top: -100px;margin-bottom: 50px!important;}
.select-cidades select#inputGroupSelect02 {border: none;border-bottom: 1px solid #ced4da;border-radius: 0px;}

/** Página de Catálogo **/
.banner-1-description {width: 70%;margin: 0 auto;margin-top: 20px;font-size: 13px;}
.row.banner-catalog .col-md-3 {margin: 0px -15px!important;padding: 0px!important;}

/** Página de Contato **/
.formulario-contato-page input {border: none;border-bottom: 1px solid #ced4da;border-radius: 0px;width: 90%;}
.formulario-contato-page textarea#exampleFormControlTextarea1{border: none;border-bottom: 1px solid #ced4da;border-radius: 0px;width: 90%;}
.formulario-contato-page .btn-primary {background-color: #c88a86;border-color: #c88a86;width: 100px;float: right;margin-right: 10%!important;}
.formulario-contato-page .btn-primary:hover{background-color:#d89995;border:1px solid #d89995;}
.mapa .info{background-color: #fff;padding: 40px;margin-left: -15px;z-index: 111;position: relative;margin-bottom: -239px;}
.mapa .info h4{font-size: 18px!important;}
.title h1,h2,h3,h4,h5{
  font-family: 'Muli','sans-serif';font-weight: 700;
}


/** Mobille **/
@media(max-width:767px){
  header .card {right: 50%;margin-top: 5%!important;width:500px;}
  img.responsive {padding: 20px 0;}
  .fixed-whatsapp {left: 84%;}
  .botao-banner.d-flex {margin-top: -24%;}
  .title-page.float-right {float: left!important;}
  .social-like {width: 80%!important;margin: 0 auto;}
  .pink-btn-antecipe {margin-left: 0px;margin-top: 20px;}
  .row.antecipe.flex-center {text-align: center;}
}

@media(min-width:767px){
  .row.text-varejo button.btn.btn-link.dropdown-toggle {width: 600px!important;}
  .text-varejo button.btn.btn-link.dropdown-toggle {display: flex;}
  .text-varejo button.btn.btn-link.dropdown-toggle  img {margin-left:70%}

}